[Desktop Entry]
Name=NS-ToolKit
Comment=NS-ToolKit
Exec=/opt/ns-toolkit/bin/NS-ToolKit
Icon=/opt/ns-toolkit/lib/NS-ToolKit.png
Terminal=false
Type=Application
Categories=Utility
StartupWMClass=com.mrnrod45.nstk.linux
MimeType=
